@model APPCOVID.Models.Administrador



<h2>Index</h2>

<table class="table table-bordered">

    <thead>
        <tr>
        <td>ID</td>
        <td>DESCRIPCION</td>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in ViewBag.sintomass)
        {
            <tr>
                <td>@item.symptom_id</td>

                <td>@item.symptom_description</td>

            </tr>
        }
    </tbody>
</table>