@model APPCOVID.Models.Sintoma

@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo sintoma</h2>

<form  method="post" action="@Url.Action("Nuevo","Administrador")">
    <div class="form-group">
        <label>Id</label>
        @Html.TextBoxFor(x => x.symptom_id, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        @Html.TextBoxFor(x => x.symptom_description, new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Enviar" />
        <a href="@Url.Action("Index","Administrador")">Regresar</a>
    </div>
</form>